<main>
  <h1>Products Ordered</h1>
  <div>
    <% @ordered_products.each do |product| %>
      <p><% product.product_name %></p>
      <%= link_to product.product_name, product %>
    <% end %>
  </div>
</main>
