<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<main>
  <% if @current_user_info.nil?  %>
    <%= link_to "New", new_user_info_path %>
  <% else %>
    <h1>Profile <%= @current_user_info.inspect %></h1>
    <p>Personal Information Below</p>
  <% end %>
</main>