/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Resets */
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: white;
}

/* Body */
body {
  margin: 100px 0;
}

/* _header */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(228, 224, 224);
}

/* Home page styling */
.categories-section {
  background-color: rgb(236, 236, 236);
  padding: 10px;
  margin-bottom: 70px;
}

.categories-section div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.categories-section a {
  font-size: 1.2rem;
  font-weight: bold;
}

.categories-section a:hover {
  color: grey;
  text-decoration: none;
}

#home-main {
  margin: 0 100px;
}

.collections-p {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
}

.collection-column {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  gap: 20px;
}

.collection-row {
  background-color: #ffffff;
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 3px;
  height: 250px;
  position: relative;
}

.image {
  background-color: black;
  width: 100%;
  height: 200px;
}

.collection-info {
  margin: 5px;
}

.collection-info a:hover {
  color: grey;
  text-decoration: none;
}

.brands-p {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
}

.brands-column {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  gap: 20px;
}

.brands-row {
  background-color: #ffffff;
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 3px;
  height: 250px;
  position: relative;
}