<main id="products-main">
    <p class="collections-p">For You!</p>
    <div class="collection-column">
        <% if @products.empty? %>
            <p>There are currently no collections available</p>
        <% else %>
            <% @products.each do |product| %>
                <div class="collection-row">
                    <div class="collection-info">
                          <%= link_to product.product_name, product %>
                          <p>CAD $<%= product.resell_price %></p>
                    </div>
                </div>
            <% end %>
        <% end%>
    </div>
    <%= paginate @products %>
</main>
